<form action="/password/update_process/<%=lId%>" method="post">  

    <p><%=loginid%></p>    
    <p><input type="text" name="password" value ="<%=password%>" style= " width : 400px; border-color:antiquewhite;" placeholder="password"></input></p>    
    <p><%=name%></p> 
    <p><%=address%></p> 
    <p><%=tel%></p> 
    <p><%=birth%></p> 
    <p><%=class2%></p> 
    <p><%=grade%></p> 

    <p><input type="submit"></p>  
</form>