<h1>사용자 목록</h1>  
<table class="table table-sm table-bordered" style="width : 600px">  
    <%  
        var i = 0;  
        while(i < results.length){  
    %>  
        <tr><td class="td td-sm"><%=results[i].loginid%></td>  
            <td><%=results[i].password%></td>  
            <td><%=results[i].name%></td>  
            <td><%=results[i].address%></td>  
            <td><%=results[i].tel%></td>  
            <td><%=results[i].birth%></td>  
            <td><%=results[i].class%></td>  
            <td><%=results[i].grade%></td>  
        </tr>
    <%
        i++;
    }
    %>
</table>