
    <h1>네임카드 검색화면 </h1>

    <form action="/namecard/namecardsearch" method="post">
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2  col-form-label"><%=kind%></label>
          <div class="col-sm-5">
            <input type="id" class="form-control" placeholder="이름을 입력하세요" name="keyword" maxlength="50">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">검색</button>
    </form>
    <p>
      <% if (listyn == "Y")
        {    
      %>
            <table class="table">
      <%    var i = 0;
            while(i < bs.length) {
      %>
              <tr><td><%=bs[i].name%></td><td><%=bs[i].gender%></td><td><%=bs[i].age%></td><td><%=bs[i].address%></td>
              </tr>
      <% 
          i++; 
        }  
      %>
          </table>
      <%
        } %>
    </p>