<h1><%=kind%></h1>
<table class="table">
    <%  
        var i = 0;  
        while(i < results.length){  
    %>  
        <tr> 
            <td><img src="/images/<%=results[i].img%>" style="width:100px;height:100px;"></td> 
            <td><a href="/book_detail/<%=results[i].Id%>"><%=results[i].name%></a></td> 
            <td><%=results[i].author%></td> 
            <td><%=results[i].price%>원</td>
        </tr>
    <%
        i++;
    }
    %>
</table>

<%  var j = 1;
while (j <= totalpages) { 
    if(j == pageNum){ %>
        <span style="font-weight : bold;"><%=j%></span> &nbsp;&nbsp;
    <% } else { %>
        <span><a href="/booklist/<%=j%>"><%=j%></a></span> &nbsp;&nbsp;
<%     } 
    j++ 
} %>